body {
    margin: 0;
    background-color: skyblue;
    font-family: "Times New Roman", serif;
}


.header {
    background: white;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}


.logo img {
    width: 100px;
    height: auto;
}

.box{
    width:90%;
    margin:20px auto;
    background:white;
    border:1px solid gray;
    padding:15px;
}

.box h2{
    color:darkblue;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:steelblue;
    color:white;
    padding:10px;
    border:1px solid gray;
}

td{
    padding:10px;
    border:1px solid gray;
}