
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



body{
    background:#87CEEB;
    font-family:"Times New Roman", serif;
}



.header{
    background:white;
    height:120px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;
}

.logo img{
    width:100px;
    height:auto;
}

.login-text h2{
    color:#5b3cc4;
    font-size:24px;
}



main{
    width:100%;
    padding:30px 0;
}



.question-box{

    width:95%;
    max-width:1950px;

    background:white;

    margin:25px auto;

    padding:30px;

    border-radius:8px;

    box-shadow:0 2px 8px rgba(0,0,0,.15);

    transition:.3s;
}

.question-box:focus-within{
    border-top:4px solid #673ab7;
}

.question-box label{

    display:block;

    margin-bottom:35px;

    font-size:18px;

    color:#202124;

    
}

.question-box label span{
    color:red;
}

.question-box input{

    width:100%;

    border:none;

    border-bottom:1px solid #dadce0;

    padding:12px 0;

    font-size:17px;

    outline:none;
}

.question-box input::placeholder{
    color:#777;
}

.question-box input:focus{
    border-bottom:2px solid #673ab7;
}



.submit-section{

    width:95%;

    max-width:1950px;

    margin:20px auto;

}

.submit-section button{

    background:#0a1d8f;

    color:white;

    border:none;

    padding:12px 28px;

    font-size:16px;

    border-radius:6px;

    cursor:pointer;

    margin-right:10px;

    transition:.3s;
}

.submit-section button:hover{
    background:#5b3cc4;
}

.submit-section button:active{
    transform:scale(.97);
}

@media (max-width:768px){

    .header{

        flex-direction:column;

        justify-content:center;

        height:auto;

        padding:20px;
    }

    .login-text{
        margin-top:15px;
    }

    .question-box{
        width:95%;
    }

    .submit-section{
        width:95%;
    }

    .submit-section button{

        width:100%;

        margin:10px 0;
    }
}

.header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 20px;
}


.logo img {
    width: 100px;
    height: auto;
    display: block;
}

nav {
    flex: 1;
    background-color: lightyellow;
    border-radius: 40px;
    padding: 12px 20px;
    margin: 0 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 20px;
}

nav li {
    transition: transform 0.3s;
}

nav li:hover {
    transform: scale(1.1);
}

nav a {
    text-decoration: none;
    color: blue;
    font-size: 22px;
    font-weight: bold;
}

nav a:hover {
    color: black;
}


.logout-text {
    background-color: skyblue;
    border-radius: 40px;
    padding: 12px 20px;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
}
